<div class="menu" data-menu="true">
  <div
    class="menu-item"
    data-menu-item-offset="20px, 10px"
    data-menu-item-placement="bottom-end"
    data-menu-item-toggle="dropdown"
    data-menu-item-trigger="click|lg:click"
  >
    <div class="menu-toggle btn btn-icon rounded-full">
      <img
        alt=""
        class="size-9 rounded-full border-2 shrink-0"
        [src]="profileImageUrl() || imagen"
      />
    </div>
    <div class="menu-dropdown menu-default light:border-gray-300 w-full max-w-[250px]">
      <div class="flex items-center justify-between px-5 py-1.5 gap-1.5">
        <div class="flex items-center gap-2">
          <img alt="" class="size-9 rounded-full border-2" [src]="profileImageUrl() || imagen" />
          <div class="flex flex-col gap-1.5">
            <span class="text-sm text-gray-800 font-semibold leading-none">
              {{ titulo }}
            </span>
            <span class="text-xs text-gray-600 font-medium leading-none">
              {{ subtitulo }}
            </span>
          </div>
        </div>
        <span class="badge badge-xs badge-primary badge-outline"> Pro </span>
      </div>
      <div class="menu-separator"></div>
      <div class="flex flex-col">
        @for (item of menuItems; track $index) {
          <div class="menu-item">
            <button class="menu-link">
              <span class="menu-icon">
                <i class="ki-filled" [ngClass]="item.icono"></i>
              </span>
              <span class="menu-title"> {{ item.titulo }} </span>
            </button>
          </div>
        }
      </div>
      @if (menuItems.length) {
        <div class="menu-separator"></div>
      }
      <div class="flex flex-col">
        <div class="menu-item px-4 py-1.5">
          <button class="btn btn-sm btn-light justify-center" (click)="cerrarSesion()">
            Cerrar sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
