<div class="flex h-[100vh] justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
  <div class="card max-w-[400px] w-full">
    <form
      [formGroup]="formulario"
      class="card-body flex flex-col gap-5 p-10"
      id="reset_password_enter_email_form"
      method="post"
    >
      <div class="text-center">
        <h3 class="text-lg font-medium text-gray-900">Recuperar contraseña</h3>
        <span class="text-2sm text-gray-700">
          Ingresa tu email para restablecer tu contraseña.
        </span>
      </div>
      <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900"> Email </label>
        <app-input
          placeholder="Ingresa tu correo"
          formControlName="email"
          [control]="formulario.get('email')"
          [errors]="{
            required: 'El correo es requerido.',
            email: 'Ingresa un correo válido.',
          }"
        ></app-input>
      </div>
      <app-advanced-button
        [text]="'Continuar'"
        [loadingText]="'Cargando...'"
        [type]="'button'"
        [color]="'primary'"
        [size]="'md'"
        [classes]="'btn btn-primary w-full text-center justify-center'"
        [isLoading]="isLoading()"
        [isDisabled]="!formulario.valid"
        (buttonClick)="sendPasswordRecovery()"
      ></app-advanced-button>
    </form>
  </div>
</div>
