<div
  *ngIf="isOpen()"
  class="fixed inset-0 z-50 overflow-y-auto"
  aria-labelledby="modal-title"
  aria-modal="true"
  role="dialog"
>
  <!-- Overlay -->
  <div
    class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"
    (click)="closeModal()"
    aria-hidden="true"
  ></div>

  <!-- Modal container -->
  <div class="flex min-h-screen items-center justify-center p-4 text-center sm:p-0">
    <!-- Actual modal -->
    <div
      class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full"
      [class]="modalSize"
    >
      <!-- Close button -->
      <div class="modal-header">
        <h3 *ngIf="title" class="modal-title" id="modal-title">
          {{ title }}
        </h3>
        <button
          class="btn btn-xs btn-icon btn-light"
          (click)="closeModal()"
          *ngIf="showCloseButton"
        >
          <i class="ki-outline ki-cross"> </i>
        </button>
      </div>

      <!-- Modal content -->
      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <!-- Title -->

        <!-- Content slot -->
        <div *ngIf="isOpen()" class="mt-2">
          <ng-content></ng-content>
        </div>
      </div>

      <!-- Footer slot -->
      <div *ngIf="hasFooter" class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
