/* You can add global styles to this file, and also import other style files */

// Main style
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demos */
@import "./metronic/css/demos/demo1.css";

// Keenicons
@import "./metronic/vendors/keenicons/duotone/style.css";
@import "./metronic/vendors/keenicons/filled/style.css";
@import "./metronic/vendors/keenicons/outline/style.css";
@import "./metronic/vendors/keenicons/solid/style.css";

@import "@ng-select/ng-select/themes/default.theme.css";

.select2Custom {
  border-radius: 0.375rem;
  border: 1px solid var(--tw-gray-300);
  font-weight: 500;
  height: 2.5rem;
  line-height: 1;
  color: var(--tw-gray-700);
  background-color: var(--tw-light-active);
  font-size: 0.8125rem;
  &:hover {
    cursor: pointer;
  }
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 10px !important;
}

.ng-select-container {
  border: none !important;

  &:hover {
    box-shadow: #fff !important;
  }
}